@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bai+Jamjuree&family=Labrada&family=PT+Sans&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #6e8528;
}



#slider-bg .slider{
    height: 550px;
    width: 100%;
}


.solo{
    color: #ffff00;
    
}
.cruze{
    color: #ffffff;
}

.mike{
    background-color: #ffff00;
    color: #000000;
    border: none;
    padding: 10px 30px;
    margin-left: 50px;
}
.tag{
    background-color: #ffffff;
    color: #000000;
    border: none;
   padding: 10px 30px;
   
}
.mikeset{
    background-color: #ffff00;
    color: #000000;
    border: none;
    padding: 10px 30px;
}
.back{
    height: 500px;
    width: 100%;
    background-color: #89a437;
}

.aboutbgn{
    background-color: #f4f3f3;
}
form .bag{
    padding: 10px 35px;
}

.rights{
    background-color: #829e13;
    
}
.front{
    background-color: #89a437;
}
.pic{
    height: 50px;
    width: 50px;
}
.pin{
    padding-top: 40px;
}

@media (max-width:1200px){
    .cruze{
        color: #d81157;
    }
    .map{
        width: 80%;
        margin-left: 40px;
    }
}

@media (max-width:760px){
    .cruze{
        color: #d81157;
    }
    .map{
        width: 80%;
        margin-left: 40px;
    }
}

@media  (max-width:480px){ 
    #slider-bg .slider{
        height: 650px;
        width: 100%;
    }
    .cruze{
        color: #d81157;
    }
    .mike{
        background-color: #bb134e;
        color: #ffffff;
        padding: 5px 20px;
        margin-left: 40px;  
    }
    .mikeset{
        background-color: #bb134e;
        color: #ffffff;
        padding: 5px 20px;
          
    }
    .tag{
        background-color: #ffff00;
        color: #000000;
        border: none;
        padding: 5px 20px;
        
        
    }
    .back{
        height: 550px;
        width: 100%;
        
    }
    .pic{
        height: 80px;
        width: 80px;
    }
    .navbar{
        width: 100%;
    }
    .map{
        width: 260px;
        margin-left: 40px;
    }
    .abt{
        margin-top: 250%;
    }
    .care{
        height: 600px;
    }
    
}
